body, html{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}
body{
    background-image: url(../image/background.jpg);
    background-size: cover;
}
header{
    margin-top: 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
header > img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 1px solid #000;
    object-fit: cover;
    box-shadow: rgb(28 32 93/ 24%) 0px 2px 8px 0px;
}
header > h1{
    display: inline-block;
    font-weight: bold;
    font-size: 0.8em;
    border-radius: 1em;
    background-color: #000a;
    color: #fff;
    padding: 0.3em 0.6em;
    border: 1px solid #fff
}
#vanta {
    z-index: 0;
    position: absolute;
    width: 100%;
    height: 100%;
}
main > ul{
    display: block;
    cursor: pointer;
    box-sizing: border-box;
    list-style: none;
    margin: 0 auto;
    padding: 2em;
    max-width: 500px;
}
main ul li{
    cursor: pointer;
    text-align: center;
    background-color: #fffa;
    backdrop-filter: blur(10px) saturate(160%) contrast(180%);
    -webkit-backdrop-filter: blur(10px) saturate(160%) contrast(180%);
    border-radius: 10em;
    padding: 1em;
    margin: 1.5em;
    box-shadow: rgb(28 32 93/ 24%) 0px 2px 8px 0px;
}
main ul li a{
    color: black;
    text-decoration: none;
    gap: 0.5em;
}

